
/* @import url(./style.css); */

    .prueba--1{
    display : grid ;
    grid-template-columns: repeat (3, 1fr);
    gap:1 rem; /*posiblemente no esté*/
    
    }
    .prueba--2{
    position :relative;
    overflow:hidden;
    }
    
    .prueba--2::after{
    content: ' ';
    position: absolute;
    top :8px;
    left :7.9rem;
    width:69%;
    height:98.5%;
    border-radius: 8px;
    transform:  translateY(-150%);
    transition: transform 0.7s;
    background:  rgba(89, 108, 134, 0.65);
    


    }
    .prueba--2:hover::after{
    transform:translateY(0);
    }
    
     /*este es el texto descriptivo del video xd*/
    
    .prueba--3__title{
    position: absolute;  
    /* top: 0; */
     z-index: 1; 
    padding:1rem; /*jugar con esta medida para centrar el titulo*/
    }
    #poema--grado{
        font-size: 20px;
        padding: 4rem 8rem 0 8rem;
        font-weight: 900;
    }
    

    
    
    .prueba--2:hover .prueba--3__title,
    .prueba--2:hover .prueba--3__text  {
    transform: translateX(0);
    transition: transform 0.5s 0.2s;
    }
    .prueba--3__title{
    transform: translateX(-100%);
    
    }
    .prueba--3__text{
    transform: translateX(120%);
    }
    
    
    
    